<div class="p-12 py-12 px-4 border-4 border-red-800 rounded-lg bg-blue-100">
  <h1
    class="text-xl md:text-2xl lg:text-4xl xl:text-7xl 2xl:text-9xl text-blue-500"
  >
    Welcome to ng-conf
  </h1>
  <p class="text-xl text-indigo-300">Learn Tailwind</p>
  <div>
    <a class="hover:text-red-900" href="">Link 1</a>
    <a class="hover:text-red-900" href="">Link 2</a>
    <a class="hover:text-red-900" href="">Link 3</a>
  </div>
  <div>
    <p class="text-brand-color">Hi theme</p>
    <p class="text-brand-color-50">Hi theme</p>
    <p class="text-brand-color-100 text-xxs">Hi theme</p>
  </div>
  <div class="p-12 dark:bg-blue-700">
    <p class="text-xl text-blue-700 dark:text-blue-100">Dark mode</p>
  </div>
</div>
<app-product-card></app-product-card>
